$legend      :  #4b7fb0;
$boxborder   :  #cc8500;
$bgbubble    :  #444444;
$bordertable : #4c4030;
$thbg        : #392d22;
$white       :    #ffffff;
$dotted      :   #dedede;
$breadcrbg   :  #ebdaad;
$listcolor   :   #c07326;
$containercolor : #3F3528;
