

.l-header{
        background-attachment: scroll;
        background-clip: border-box;
        background-color: #222222;
        background-image: none;
        background-origin: padding-box;
        background-position: 0 0;
        background-repeat: repeat;
        background-size: auto auto;
        clear: both;
        margin-right: 10px;
        min-height: 90px;
        position: relative;

      }


.block {
        margin: 0;
      }


.region-sidebar-first.block-inner {
        background: none repeat scroll 0 0 #654C4A;
        padding-bottom: 226%;
      }

.block-views-accommodation-block--2 .block-title {
          color: #EBDAAD;
          margin-right: 40%;
        }


.block-title {
          color: #EBDAAD;
        }


.block ul li {
          margin: 0 0 0 0.5em;
        }
.block .more-link {
                            margin-top: 5px;
                          }
.sidebar .block {
                                background: none repeat scroll 0 0 #4C4030;
                                margin-top: 10px;
                              }
.front .sidebar .block {
                              margin-top: 0;
                            }
.sidebar .block-title {
                              color: #EBDAAD;
                              font-size: 1.66em;
                              margin-bottom: 0.5em;
                              margin-top: 0;
                            }
.sidebar .block-custom-banners .block-inner {
                                        padding: 0;
                                      }
#header-wrapper .block {
                            float: left;
                            margin-left: 10px;
                          }
.l-header-wrapper .block-menu ul.menu {
                                    font-weight: normal;
                                  }
.l-header-wrapper .block-menu ul.menu li {
                                  background: url("../images/bg-line.gif") no-repeat scroll 100% 4px rgba(0, 0, 0, 0);
                                  display: block;
                                  float: left;
                                  padding: 0 8px;
                                }
.l-header-wrapper .block-menu ul.menu li:first-child {
                                          padding-left: 0;
                                        }
.l-header-wrapper .block-menu ul.menu li a {
                                            color: #80694D;
                                            padding: 0;
                                            text-decoration: none;
                                          }
.l-header-wrapper .block-menu ul.menu li a:hover, #header-wrapper .block-menu ul.menu li a:focus, #header-wrapper .block-menu ul.menu li a:active {
                                background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
                                color: #FFFFFF;
                                text-decoration: none;
                              }
.l-header-wrapper .block .block-inner {
                                      padding: 0;
                                    }
.l-header-wrapper .block p {
                                  color: #80694D;
                                  float: left;
                                  margin: 0;
                                }
.block ul.socials {
                                  float: left;
                                  list-style: none outside none;
                                  margin: 0;
                                }
.block ul.socials li {
                              display: block;
                              float: left;
                            }
.block ul.socials li a {
                            background: url("../images/ico-socials.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
                            display: block;
                            float: left;
                            height: 19px;
                            overflow: hidden;
                            text-indent: -999em;
                            width: 19px;
                          }
.block ul.socials li .twitter-follow {
                                        background-position: -23px 0;
                                      }
.block ul.socials li .google-plus-follow {
                                background-position: -45px 0;
                              }
.l-footer-wrapper .block {
                                  float: left;
                                  width: 50%;
                                }
.block .contact-info {
                              float: right;
                              margin: 0;
                            }
.block .contact-info li {
                                display: block;
                                float: left;
                                margin: 0 8px 0 0;
                              }
.contact-info .tel {
                              background: url("../images/ico-tel.gif") no-repeat scroll 0 -16px rgba(0, 0, 0, 0);
                              padding-left: 17px;
                            }
.contact-info .email-address {
                              background: url("../images/ico-tel.gif") no-repeat scroll 0 6px rgba(0, 0, 0, 0);
                              padding-left: 20px;
                            }
.block-locationmap .block-inner {
                            background: none repeat scroll 0 0 #3F3528;
                          }
.block-menu ul.menu {
                            margin-bottom: 0;
                            margin-left: 0;
                          }
.block-menu ul.menu ul {
                            margin-left: 1em;
                          }
.block-node table {
                            overflow: hidden;
                            width: 100%;
                          }
.block-node tbody {
                                    border-top: 0 none;
                                  }
.block-node table tr td {
                        border-bottom: 1px dotted #CCCCCC;
                      }
.block-node table .title-author {
                                padding-left: 0;
                                padding-right: 0;
                              }
.block-node table .node-title {
                                  font-size: 1em;
                                }
.block-node table .node-title a {
                              color: #666666;
                            }
.block-node table .node-title a:hover, .block-node table .node-title a:active, .block-node table .node-title a:focus {
                                    color: #FFFFFF;
                                  }
.block-node table .node-author {
                                color: #999999;
                                font-size: 1em;
                              }
body.not-logged-in .block-node table td.edit, body.not-logged-in .block-node table td.delete {
                                  display: none;
                                }
.block-forum .item-list ul {
                                  margin: 0;
                                  padding: 0;
                                }
.block-forum .contextual-links-wrapper {
                                        display: none;
                                      }
.block-aggregator .item-list ul {
                                    margin: 0;
                                    padding: 0;
                                  }
.block-aggregator .item-list ul li {
                                              background-image: none;
                                              border-bottom: 1px dotted #CCCCCC;
                                              padding: 0.5em 0;
                                            }
.block-aggregator .item-list ul li:first-child {
                                            padding-top: 0;
                                          }
.block-aggregator .item-list ul li a {
                                    color: #666666;
                                  }
.block-aggregator .item-list ul li a:hover, .block-aggregator .item-list ul li a:active, .block-aggregator .item-list ul li a:focus {
                                              background: none repeat scroll 0 0 #333333;
                                              color: #FFFFFF;
                                              text-decoration: none;
                                            }
.block-search {
                                                        background: none repeat scroll 0 0 #392D22;
                                                        border: 1px solid #4C4030;
                                                        clear: both;
                                                        float: right !important;
                                                        height: 25px;
                                                        margin: 0;
                                                        position: absolute;
                                                        right: 0;
                                                        top: 45px;
                                                        width: 217px;
                                                      }
.l-header .block-search .block-inner, #header .block-search .form-item, #header #search-block-form {
                                                    margin: 0;
                                                    padding: 0;
                                                  }
.l-header .block-search .container-inline div {
                                            display: block;
                                            float: left;
                                          }
.l-header .search-block-form .form-text {
                                  background:repeat scroll 0 0 rgba(0, 0, 0, 0);
                                  border: medium solid 1px #ccc;
                                  color: #C5C0BB;
                                  font-size: 1em;
                                  font-style: italic;
                                  margin: 5px 10px 0;
                                  padding: 0;
                                  width: 166px;
                                }
.l-header .search-block-form .form-submit {
                            background: url("../images/ico-search.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
                            border: medium none;
                            color: #FFFFFF;
                            cursor: pointer;
                            font-size: 1em;
                            height: 25px;
                            padding: 0;
                            text-indent: -999em;
                            vertical-align: top;
                            width: 25px;
                          }
.block-user .form-item-name input {
                                            width: 90%;
                                          }
.block-user .form-item-pass input {
                                              width: 90%;
                                            }
.block-user .item-list li {
                                                display: inline-block;
                                            }
.block-user p {
                                            margin: 0;
                                          }
.block-poll .title {
                                        font-weight: bold;
                                        margin-bottom: 1em;
                                      }
.block-poll .links {
                                  margin-top: 0.5em;
                                }
.block-quicktabs .block-inner .block-inner {
                                        margin: 0;
                                        padding: 0;
                                      }
.lb-h {
                                              margin-top: 1px;
                                              min-width: 320px;
                                            }
.region-header .lb-h {
                                                  float: right;
                                                }
.lb-h .block-inner, .lb-h .block-content {
                                              background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
                                              padding: 0;
                                            }
.lb-h #user-login-form {
  margin: 0;
}
.lb-h #user-login-form label {
                                                line-height: 1.2;
                                              }
.lb-h .form-item {
                                              float: left;
                                              margin: 0;
                                            }
.lb-h input.form-text {
                                        margin: 0 3px 0 0;
                                        width: 110px;
                                      }
.lb-h #edit-actions {
                                                margin: 0;
                                              }
.lb-h input.form-submit {
                                            margin: 0;
                                            position: absolute;
                                            top: 1.2em;
                                          }
.lb-h .form-required, .lb-h .item-list, .lb-h h2 {
                                                display: none;
                                              }
.ta-l .block-title, .ta-l .mini-panel-title {
                                                    text-align: left;
                                                  }
.ta-r .block-title, .ta-r .mini-panel-title {
                                        text-align: right;
                                      }
.ta-c .block-title, .ta-c .mini-panel-title {
                                  text-align: center;
                                }
.mini-panel-title {
                                  margin: 0 10px;
                                }
.block-panels_mini .mini-panel-title {
                                            margin: 0 10px;
                                          }
.block-rooms-booking-manager {
                                      background: none repeat scroll 0 0 #3F3528;
                                    }
.block-rooms-booking-manager .start-date {
                                      margin-bottom: 8px;
                                      width: 100%;
                                    }
.block-rooms-booking-manager .end-date {
                                margin-bottom: 9px;
                                width: 100%;
                              }
.container-inline-date > .form-item {
                                      display: inline;
                                      margin: 0;
                                      padding: 0;
                                    }
.block-rooms-booking-manager .form-item label {
                                            color: #AF987C;
                                            font-weight: normal;
                                            margin-bottom: 3px;
                                          }
.block-rooms-booking-manager .form-item .form-text {
                                  margin: 0;
                                  padding: 5px 4px;
                                  width: 95%;
                                }
.container-inline-date .date-padding {
                                      float: none;
                                      padding: 0;
                                    }
.container-inline-date .form-item .form-item {
                                                float: none;
                                              }
.container-inline-date .date-padding label {
                                          display: none;
                                        }
.block-rooms-booking-manager .form-item-group-size, .block-rooms-booking-manager .form-item-rooms {
                                            float: left;
                                            margin: 0 !important;
                                            padding: 0;
                                            width: 114px;
                                          }
.block-rooms-booking-manager .form-item .form-select {
                                          padding: 3px;
                                          width: 65%;
                                        }
.block-rooms-booking-manager .form-actions {
                                              margin-bottom: 0;
                                              text-align: right;
                                            }
.block-rooms-booking-manager form {
  margin: 0;
}
.block-rooms-booking-manager span.button input.form-submit {
                                                    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
                                                    border: medium none;
                                                    color: #C07326;
                                                    cursor: pointer;
                                                    padding: 0;
                                                  }
.block-rooms-booking-manager span.button input.form-submit:hover, .block-rooms-booking-manager span.button input.form-submit:focus {
                            color: #EBDAAD;
                          }
.block-custom-promotions .block-inner {
                                          padding: 0 !important;
                                        }
.contact-info-2 dt {
                          color: #C07326;
                          font-size: 1.25em;
                          font-weight: normal;
                          margin-bottom: 3px;
                        }
.contact-info-2 dd {
                              margin-bottom: 15px;
                              margin-left: 0;
                            }
.contact-info-2 p {
                          margin: 0 0 3px;
                        }
.contact-list dt {
                      color: #EBDAAD;
                      font-size: 1.16em;
                      font-weight: normal;
                      margin-bottom: 5px;
                    }
.contact-list dd {
                      margin-left: 0;
                    }
.contact-list .last {
                  margin-bottom: 0;
                     }

.site-name {
                      font-size: 3.33em;
                      margin: 0;
                      font-weight: normal;
                    }

.site-name a {
                          color: #fff;
                          text-decoration: none;
                          padding-left:200px;
                          float:left;
                          top:40px;
                          position:absolute;
                        }



.site-name a:visited {
}

.site-name a:hover,
.site-name a:focus,
.site-name a:active {
                        color: #fff;
                        text-decoration: none;
                      }


.site-slogan {
                      color: #c5c5c5;
                      margin: 0.188em 0 0;
                      padding: 0;

                    }

