


/* Common Tables ---*/
table {
  font-size: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  border: 1px solid $bordertable;
}

table.sticky-header {
  z-index: 10;
}

/* Table Head */
thead {
}

th {
  background: $thbg;
  border-bottom: 0;
  color:$white;
  padding: .75em 1em;
}

th a {
  color: $white;
  text-decoration: none;
}

th a:hover,
th a:active,
th a:focus {
  color: $white;
}

thead th {
}

/* Table Body */
tbody {
}

td {
  padding: .75em 1em;
}

tr.even,
tr.odd {
  background-color: transparent;
  border-bottom: 0;
}

tr.even td,
tr.odd td {
  border-top: 1px solid $bordertable;
}

td.active {
  background: none;
}

tr.odd,
tr.info {
}

tr.even {
  background-color: transparent;
}

tr.drag {
}

tr.drag-previous {
}

tr.odd td.active {
}

tr.even td.active {
}

td.region,
td.module,
td.container td.category {
}
